@import '../util/variables.scss'; 

.calendar {
  padding: 1rem;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
}

.month {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1rem;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(1rem, auto);
  justify-content: center;
  align-items: center;
}