@import '../util/variables.scss';

.day {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $light_grey;
  height: 10rem;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.1rem 0.75rem $shadow_light;
  transition: 0.2s transform;

  &:hover:not(.differentMonth):not(.selected) {
    cursor: pointer;
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 0.2rem 1.5rem $shadow_dark;
  }

  &:active {
    transform: scale(1);
  }

  &.currentDay {
    animation: animateBorder 0.5s ease 1s both;

    &:hover {
      box-shadow: 0 0.1rem 1rem $shadow_active_dark;
    }
  }

  &.selected {
    transform: scale(3);
    font-size: 8px;
  }

  &.differentMonth {
    background-color: transparent;
    border: 1px solid $shadow_light;
    box-shadow: none;
  }
}

.reminderContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 1rem;
}

@keyframes animateBorder {
  0% {
    border: 1px solid $light_grey;
    box-shadow: 0 0.1rem 0.75rem $shadow_light;
  }

  100% {
    border: 1px solid $pink;
    box-shadow: 0 0.1rem 0.75rem $shadow_active_light;
  }
}

