// Colours

// Global

$light_green: #fbfad3;
$light_grey: #faf9f9;
$magenta: #843b62;
$pink: #f67e7d;
$deep_purple: #0b032d;
$tan: #ffb997;
$grey: #9d8f8f;
$green: #74b49b;

// Shadows
$shadow_light: #0b032d1a;
$shadow_dark: #0b032d2a;
$shadow_active_light: #f67e7d5a;
$shadow_active_dark: #f67e7d8a;

$input_bg: #5095C31a